<!DOCTYPE html>
<html ng-app>
<head>
	<title>Home</title>
	<script src="js/angular.min.js"></script>
</head>
<body>
<h2>Preencha os campos abaixo:</h2>
<input type="text" ng-model="var" placeholder="nome" />

<p>Seu nome e:</p>

<p>{{ var }}</p>

<p>{{ var }}</p>

<input type="text" ng-model="var" placeholder="nome" />
</body>
</html