<!DOCTYPE html>
<html ng-app ng-init="valor1 = 0; valor2 = 0; pessoa = { nome : 'jonas schmidt' }" >
<meta charset="utf-8">
<head>
	<title>Home</title>
	<script src="js/angular.min.js"></script>
</head>
<body>


<!-- "ng-bind" tem uma performance maior-->

<!-- {{ valor1+valor2 }} "{{ }}" tem uma performance menor, pode aparece para o usuario-->
<!--{{ pessoa.nome }} -->

<h1>Ola, <span ng-bind="pessoa.nome"></span></h1>

<p>Preencha os campos com números por gentileza:</p>

<input type="number" ng-model="valor1">
+
<input type="number" ng-model="valor2">


Resultado: 
<input type="text" ng-model="valor1+valor2">





<!--<h1>Resultado: <texto ng-bind="valor1-valor2"></texto></h1> outra opcao-->



</body>
</body>
</html