<!DOCTYPE html>
<html ng-app>
<meta charset="utf-8">
<head>
	<title>Home</title>
	


</head>
<body>

<div ng-app="appSaudacao">
	{{ 'jonas' + ola }}
</div>

<script src="js/angular.min.js"></script>
<script src="js/appSaudacao.module.js"></script>

</body>
</html